name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs-version:
          - '27.2'
          - '28.2'
          - '29.4'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Emacs
        uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: Setup Eldev
        uses: emacs-eldev/setup-eldev@v1

      - name: Install dependencies
        run: eldev prepare

      - name: Lint
        run: eldev lint

      - name: Compile
        run: eldev compile --warnings-as-errors

      - name: Test
        run: eldev test
